<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Upload the wastes image</title>
</head>
<body>
    <div class="container-fluid">
        <form class="form-inline" method="post" enctype=multipart/form-data> 
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                    <h2> Upload wastes image to know which bin it belongs </h2>
    <form id = "upload-form" action="{{url_for('upload')}}" method="POST" enctype = "multipart/form-data">
        <input type = "file" name="file" accept="image/*" multiple>
        <input type = "submit" value=" ">
    </form>
    </div>
    </div>
    </div>
    </form>
    </div>
</body>
</html>