body, html{
  background-color: rgb(168, 163, 163); 
  margin-bottom:50px; 
  }


  .bg { 
    /* The image used */
    background-image: url("https://thumbs.dreamstime.com/t/blue-clean-tech-world-20258273.jpg");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  figcaption{
    display: block;
    color: rgba(202, 235, 16, 0.945);
  }

  /* Footer */
  #footer{
    position: fixed;
    color: black;
    height: 50px;
    font-size: 20px;
    font-family: sans-serif;
    width: 100%;
    background-color: black;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-bottom: 0px;
    padding: 1rem;
    text-align: center;
    }
  